.intro{
    display: flex; 
    flex-direction: column;
    background-color: transparent;
    background: none; 
    align-items: center;
 
}

.intro h1{
    background-color: transparent;
    background: none; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid rgb(219, 14, 48); /* blinking cursor */
    width: 0;
    animation: typing 3s steps(40, end) forwards, blink 0.75s step-end infinite;
    font-weight: bold;
    color: rgb(219, 14, 48);
    
}

.btn{
    font-size: 1rem;
    width: 35%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 30%;
    border-color:rgb(201, 41, 67);
    color: rgb(201, 41, 67);
    cursor: pointer;
    margin-top: 2em;
}

.intro p{
    background-color: transparent;
    background: none;
    color: rgb(109, 5, 23);
    
}
.btn:hover{
    transform: scale(1.1);
    transition: 0.2s;

}

.intro img{
    background-color: transparent;
    position: absolute;
    background: none;
    transform: scale(0.5);
    top: 8rem;
    margin: 0;
    padding: 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes erase {
  0% { width: 100% }
  100% { width: 0 }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: rgb(219, 14, 48); }
}


@media (max-width: 768px) {
    .intro{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        margin: 1rem;
    }

    .intro p{
      text-align: center;
      font-size: 1rem;
    }
    .intro h1{
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      animation: none;
      border: none;
      font-size: 1rem;

    }
    .btn{
        width: 50%;
    }
    .intro img{
        display: none;
    }
}