.question-card{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background: none;
    gap: 2rem;
    border: none;
    border-radius: 3rem;
    width: 60%;
    height: 70%; 
    background: rgba(241, 238, 240, 0.8);
   
}

.question-content{
    gap: 2rem;
    background-color: transparent;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: scaleIn 0.6s ease;
}

.question-content h1{
    background-color: transparent;
    background: none;
    color: rgb(216, 48, 76);
    font-size: 2rem;
    text-align: center;
}
@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.options{
    background-color: transparent;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
}

.question-button{
    /* display: flex;
    flex-direction: column; */
    background-color: transparent;
    background: none;
    width: 25rem;
    height: 3rem;
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    background: rgb(223, 79, 103) ;
}

.options :hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.question-card h1{
    background-color: transparent;
    background: none;
    align-items: flex-start;
    
}

@media (max-width: 768px) {
    .question-card{
        width: 90%;
        height: 80%;
    }
    .question-content h1{
        font-size: 1.5rem;
    }
    .question-button{

        height: 4rem;
        font-size: 0.8rem;
        width: 15rem;
    }
}